@model AllStocked.SecondaryAccountAccess

<div class="informationWindow">
    <h4> Request Secondary Account Access</h4>
    To give inventory management permissions to another current All Stocked User, invite them by submitting their email address corresponding with their 
    All Stocked account. The invite will be sent with a status of pending until they accept the invitation.</div>

<p class="small"></p>

@using (Html.BeginForm("CreateSecondaryAccountAccess", "Settings")) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        

        <div class="form-group">
            @Html.LabelFor(model => model.SecondaryAccountEmail, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SecondaryAccountEmail, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SecondaryAccountEmail, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add Account" class="btn btn-default" />
            </div>
        </div>
    </div>
}
