
@{
    ViewBag.Title = "PasswordRecovery";
}

<h2>Password Recovery</h2>

@using (Html.BeginForm("RecoverPassword", "Login"))
    {
        <input type="text" name="email" />
        <input type="submit" value="Search"/>
    }

