body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(255, 255, 255, 0.9);
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
/* This is the custom nav button css*/
.navbarD{
    background-color: rgba(255, 255, 255, 0.26);
    border-style: solid;
    border-color: black;
}

/*my custom button*/
.CustomButton{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	color: #f9e5e5;
	padding: 10px 20px;
	background: -moz-linear-gradient(
		top,
		#2e261e 0%,
		#2e261e);
	background: -webkit-gradient(
		linear, left top, left bottom,
		from(#df9e5e5),
		to(#f9e5e5));
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	border-radius: 6px;
	border: 1px solid #2e261e;
	-moz-box-shadow:
		0px 1px 3px rgba(46,38,30,0.5),
		inset 0px -1px 0px rgba(46,38,30,0.7);
	-webkit-box-shadow:
		0px 1px 3px rgba(46,38,30,0.5),
		inset 0px -1px 0px rgba(46,38,30,0.7);
	box-shadow:
		0px 1px 3px rgba(46,38,30,0.5),
		inset 0px -1px 0px rgba(46,38,30,0.7);
	text-shadow:
		0px -1px 1px rgba(000,000,000,0.2),
		0px 1px 0px rgba(255,255,255,0.3);
}

.letsGetMargin {
    margin: 20px;
}

/*override color for autogerated create items*/
hr{
    border-color: black;
}

/*homepage background image command css*/
body.home_index{
    background-image: url(../images/HomePageLogo.png);
    background-repeat:no-repeat;
    background-position-x: center;
    background-size: 84%;
    margin-top: 20px;
    color: #fff;
}

/*home page body content in transparent*/
body.home_index .body-content{
    background-color: transparent;
}
/*this is css for home register form*/
#RegisterForm
{
    background-color: rgba(255, 255, 255, 0.46);
    padding: 10px;
    margin-top: 90px;
    overflow: hidden;
    float: right;
    display: inline-block;
    width: 400px;
    text-align: right;
    border-style: solid;
}
#RegisterForm h4{
    color: #fff;
}
/* row list top color*/
.table thead > tr > th, .table tbody > tr > th, .table tfoot > tr > th, .table thead > tr > td, .table tbody > tr > td, .table tfoot > tr > td {
    border-top-color: cadetblue;
}
#allPagesBackground{
    background-color: #D80000;
}
